body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

#navbar {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

#timerSettings {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

#hexClock {
    font-size: 5em;
}

button {
    padding: 5px 10px;
    font-size: 1em;
}

